#website_logo {
    width: 2.5rem;
    height: 2.5rem;
}

#site_name {
    color: rgb(47, 47, 57);
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    font-family: sans-serif;
}

body {
    font-family: serif, sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
    padding: 0rem;
    margin: 0rem;
}

header {
    background-color: lightsteelblue;
    border-bottom: solid rgb(47, 47, 57);
    padding: 0.1rem;
    margin: 0;
}

nav {
    border: .1rem solid black;
    margin: .5rem 1rem;
    padding: .5rem 1rem;
}

nav a:link,
nav a:visited {
    color: rgb(47, 47, 57);
    font-family: sans-serif;
    font-weight: bold;
    padding: .2rem .4rem;
    text-decoration: none;
}

nav a:hover {
    color: rgb(234, 128, 52);
}

header nav {
    text-align: center;
}

main {
    padding: 2rem 1.3rem 1.2rem 1rem;
    color: #2f2a2a;
}

aside {
    border-style: solid;
    background-color: lavenderblush;
    padding: .5rem;
    margin: .5rem;
    box-shadow: inset 7px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;

}

footer {
    background-color: lightsteelblue;
    border-top-style: solid;
    font-size: 0.8em;
    margin: 0.3rem;
    vertical-align: middle;
    text-align: center;
    padding: 0.3rem;
}

footer span a {
    margin-right: 2rem;
}

footer a:hover {
    color: rgb(0, 76, 255);
}