main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(62, 26, 238);
}

main p,
article,
li,
a,
span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

a:link,
a:visited {
    color: rgb(255, 0, 89);
    padding: .2rem .4rem;
}

a:hover {
    color: rgb(0, 76, 255);
}

main a[href^="mailto"] {
    background-image: url("../images/gamil_logo.png");
}

main a[href^="tel"] {
    background-image: url("../images/telephone.png");
}

main a[href^="tel"],
main a[href^="mailto"] {
    background-size: 2.5rem;
    padding-top: 20px;
    padding-left: 48px;
    background-repeat: no-repeat;
}

img {
    width: 2.5rem;
    height: 2.5rem;
}

a img {
    margin-right: .5em;
}

address {
    padding-left: 0.5rem;
}

ul li ul {
    list-style-image: url('../images/website_icon.ico');
}

ul li {
    list-style-type: circle;
}

section>span,
figure img {
    margin-right: 5.5rem;
}

div>figure,
figure+h1 {
    text-align: center;
}

img:hover {
    transform: scale(1.2);
}

#student_profile {
    width: 10rem;
    height: 10rem;
    border-radius: 50rem;
}

#company_profile {
    width: 14rem;
    height: 12rem;
}

.company_photos {
    width: 18rem;
    height: 16rem;
}