main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(62, 26, 238);
}

main p,
article,
li,
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

main a[href^="mailto"] {
    content: url("../images/gamil_logo.png");
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
}

main a[href^="mailto"]:hover,
main a[href^="tel"]:hover {
    transform: scale(1.2);
}

main a[href^="tel"] {
    content: url("../images/telephone.png");
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 2.5rem;
    height: 2.5rem;
}

figure {
    margin-inline-start: 1.5rem;
    margin-inline-end: 1rem;
}

address {
    padding-left: 0.5rem;
}

.student_contacts a,
.company_contacts a {
    margin-right: 0.2rem;
}

.websites_contact a:link,
a:visited,
.student_websites a:link,
a:visited {
    color: rgb(1, 69, 255);
    padding: .2rem .4rem;
}

.internal_ul {
    list-style-image: url('../images/website_icon.ico');
}

.websites_contact a:hover,
.student_websites a:hover,
footer a:hover,
a+p:hover {
    color: rgb(255, 0, 179);
}

#student_profile {
    width: 10rem;
    height: 10rem;
}

#student_profile {
    border-radius: 50rem;
}


#company_profile {
    width: 14rem;
    height: 12rem;
}

#company_profile:hover,
#student_profile:hover {
    transform: scale(1.3);
}

.img-txt:hover {
    transform: scale(1.2);
}

.websites_imgs,
.img-txt {
    vertical-align: middle;
}

a+p {
    color: rgb(1, 69, 255);
    text-decoration: underline;
    display: inline-block;
    margin-right: 6rem;
}

.company_photos {
    width: 18rem;
    height: 16rem;
}

.company_photos:hover {
    transform: scale(1.25);
}

.company_photos_figure img {
    margin-right: 10%;
}

.student_profile,
.company_profile {
    text-align: center;
}

.student_profile>*,
.company_profile>* {
    display: inline-block;
    vertical-align: middle;
}

.websites_contact {
    display: inline-block;
}