main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(111, 12, 225);
}

main p,
li,
a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.internal_ul {
    list-style-image: url('../images/website_icon.ico');
}


.contact_info a:link,
a:visited,
.websites a:link,
a:visited {
    color: rgb(1, 69, 255);
    padding: .2rem .4rem;
    text-decoration: underline;
    margin-right: 1.5rem;
}

.contact_info a:hover,
.websites a:hover {
    color: rgb(255, 0, 179);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 2rem;
    height: 2rem;
}

#student_profile {
    width: 10rem;
    height: 10rem;
}

#company_profile {
    width: 13rem;
    height: 13rem;
}

#student_name,
#company_name {
    color: black;
}

.contact_imgs {
    vertical-align: middle;
}

.nav_links:link,
.nav_links:visited {
    color: rgb(47, 47, 57);
    font-family: sans-serif;
    font-weight: bold;
    padding: .2rem .4rem;
    text-decoration: none;
}

.nav_links:hover {
    color: rgb(234, 128, 52);
}

#student_profile {
    border-radius: 50rem;
}

.company_photos {
    width: 19rem;
    height: 17rem;
    margin-right: 12%;
}

.company_photos_figure {
    margin: 0.2rem;
}

.student_profile,
.company_profile {
    text-align: center;
}

.student_profile>*,
.company_profile>* {
    display: inline-block;
    vertical-align: middle;
}


.websites_imgs {
    vertical-align: middle;
}

footer a[href^="mailto"] {
    content: url("../images/gamil_logo.png");
    width: 35px;
    height: 35px;
}

footer a[href^="tel"] {
    content: url("../images/telephone.png");
    width: 35px;
    height: 35px;
}


.websites_contact:nth-child(3),
.websites_contact:nth-child(4) {
    margin-right: 0.5in;
    display: inline-block;
}

.websites_contact:nth-child(3)>*,
.websites_contact:nth-child(4)>* {
    display: inline-block;
    vertical-align: middle;
}

#website_logo {
    width: 3rem;
    height: 3rem;
}

.logo,
.site_name {
    display: inline-block;
    vertical-align: middle;
}

.site_name {
    color: rgb(47, 47, 57);
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}