body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 1rem;
}

header {
    background-color: rgb(234, 233, 233);
    border-bottom: .35rem solid black;
    flex-basis: 100%;
    padding: 0.15rem;
    margin: 0;
}

header img {
    width: 4rem;
    height: 4rem;
}

header nav a:link,
header nav a:visited {
    color: rgb(47, 47, 57);
    font-family: sans-serif;
    font-weight: bold;
    padding: .2rem .4rem;
    text-decoration: none;
}

header nav a:hover {
    color: rgb(234, 128, 52);
}

header img:hover {
    transform: scale(1.2);
}

header img {
    float: left;
    padding: 0.8rem;
}

header>* {
    display: flex;
    justify-content: center;
}

header h1 {
    float: left;
    margin-right: .2em;
}

header nav {
    clear: both;
    margin: 1em 0.5em;
}

header>.right_container {
    float: right;
    margin: 1em 0.2em;
}

.right_container {
    align-items: center;
}

header a {
    text-decoration: none;
    padding: 0.8rem;
}

header nav {
    align-items: center;
}

footer {
    background-color: rgb(234, 233, 233);
    border-top: .35rem solid black;
    flex-basis: 100%;
    align-items: flex-start;
    padding: 0.6rem;
    margin: 0;
}

footer>img {
    float: left;
    margin-right: 1rem;
}

footer a, header a {
    color: black;
    text-decoration: none;
}

footer img {
    width: 6rem;
    height: 6rem;
}

aside {
    border: .1rem solid black;
    margin: 1em 0.5em;
    padding: 0 1rem;
    margin-left: 1em;
    flex-basis: 20em;
}

main {
    margin: 1em 0;
    margin-left: 0.5em;
    margin-right: 1rem;
    flex-grow: 1;
    padding: 0 1rem;
}

main a {
    color: deeppink;
}

main a:hover {
    color: blue;
}